@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Quicksand:400,500');

/* applied to multiple */
body, #container {
  text-align: center;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #000;
}

header {
  padding-left: 2em;
}

.small {
  padding: 0 1.5em 0 3em;
}

.large, #paragraph {
  display: none;
}

/*IDs*/
#paragraph {
  width: 600px;
  padding: 10px;
  text-align: left;
  line-height: 1.5em;
  background-color: #8a92a0;
  opacity: 0.8;
  border-radius: 0.7em;
  position: fixed;
  top: 7em;
  left: 2.5em;
}

#text {
  margin-left: 2em;
  width: 250px;
}

#title {
  margin-left: 1.25em;
}

#container {
  display: block;
  padding-top: 3em;
}

#beanie, #bottle, #laptop {
  width: 200px;
}

#beanie:hover, #bottle:hover, #laptop:hover {
  transform: scale(1.1);
}

p, #paragraph, #text {
  color: #FFF;
}

#close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 30px;
}

#close:hover {
  color: #3c3c59;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 1em;
  background-color: #3c3c59;
}

footer p {
  padding-left: 1.5em;
}

a {
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

a:hover, h1 a:hover {
  color: #4343a5;
}

/*for bigger screens*/
@media only screen and (min-width: 769px) {
  body {
    max-width: 1000px;
    margin: auto;
  }

  .large {
    display: block;
  }

  .small {
    display: none;
  }

  header, #stressed {
    font-size: 25px;
  }

  img {
    padding: 0.5em 0 0.5em 0;
  }


  section {
    display: flex;
  }
/*IDS */
  #beanie, #bottle, #laptop {
    width: 200px;
  }

  #container {
    margin-top: -3em;
    display: inline-grid;
  }

  #paragraph {
    flex-direction: column;
    width: 500px;
    text-align: left;
    line-height: 1.5em;
    background-color: #8a92a0;
    position: fixed;
    top: 10em;
    left: 5em;
    opacity: 0.8;
    border-radius: 0.7em;
  }
}
