@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Quicksand:400,500');

/*applied to multiple*/
body {
  background-color: #c6efe1;
  padding-bottom: 50px;
}

h2, footer a, footer p, nav, section p, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

header, h2, footer a, footer p, footer {
  color: #FFF;
}

body, div, section {
  width: 800px;
}

section, .individualposts h2, h3, h4{
    background-color: #FFF;
}

/*overall body of the page*/
body, img {
  margin: auto;
  display: block;
}

/* header image and name */
header {
  background-color: #26a69a;
  font-family: 'Fredoka One', Arial;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3px;
}

h1 {
  padding-bottom: 40px;
}

#mySketch {
  background-color: #a5d6a7;
  height: 250px;
}

/*content*/
section {
  display: flex;
  margin-top: -25px;
}

section section {
  flex-direction: column;
  margin-top: -25px;
  border-left: 5px solid;
  border-right: 5px solid;
  border-color: #FFF;
}

h2, footer a, footer p {
  text-align: center;
}

h2 {
  padding: 20px;
  background-color: #66bb6a;
}

/*links and navigation*/
nav {
  font-weight: 400;
}

ul, ol {
  margin-left: 30px;
  color: #388e3c;
}

ol {
  margin-left: 65px;
}

ul {
  list-style-type: none;
  margin-left: 17px;
}

a {
  text-decoration: none;
  color: #388e3c;
}

a:hover {
  color: #cddc39;
}

/*footer*/
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  text-align: center;
  background-color: #00acc1;
}

/*posts*/
.individualposts {
  display: block;
  padding-bottom: 30px;
}

.individualposts h2 {
  font-size: 50px;
  text-align: left;
  padding: 30px;
  margin-top: -50px;
  color: #26a69a;
}

h1 a {
  color: #FFF;
}

section p{
  font-size: 16px;
padding: 10px 50px 10px 50px;
}

section p, h4 {
  text-indent: 50px;
  line-height: 1.5em;
  text-align: justify;
}


h3, h4 {
  text-align: left;
    text-indent: 0;
}
h3 {
  font-size: 30px;
  padding: 30px 50px 0px 50px;
  margin-top: -40px;
}

h4 {
  padding: 0px 50px 0px 50px;
  margin: 0;
  font-size: 20px;
  color:#53bc03;
}

img {
  padding-bottom: 30px;
}

.source {
  margin-top: -30px;
  text-align: right;
}
