@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Varela+Round');

/* Applied to Multiple*/
fieldset, footer, .button, #msgSection {
  font-family: 'Varela Round', sans-serif;
}

footer, a, input[type="submit"]:hover, input[type="reset"]:hover {
  color: #FFF;
}

form, .button, #msgSection, #reset2 {
  border-radius: 0.7em;
}

form, #msgSection {
  background-color: #FFF;
  padding: 30px;
  width: 600px;
  margin-top: -50px;
}

.button, #reset2 {
  padding: 10px 20px 10px 20px;
}

/*body*/
body {
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  width: 1000px;
  margin: auto;
}

header {
  background: none;
  font-family: 'Baloo Thambi', cursive;
  font-size: 40px;
  text-indent: 20px;
}

h1 a {
  color: #8ba2ef;
}

img {
  position: fixed;
  right: 130px;
  top: 150px;
}

/*form layout*/
fieldset {
  font-weight: 600;
  border: none;
  font-size: 20px;
  color: #12405b;
}

form {
  display: flex;
  flex-direction: row;
}

#item, #dog {
  border-color: #51baf7;
  background-color: #eaf7ff;
  color: #51baf7;
}

input[type="text"], input[type='number'] {
  border: 1px solid #95ace2;
  border-radius: 3px;
  background-color: #dbe5fc;
  color: #5a7bc9;
}


/*buttons*/
#reset2 {
  display: none;
  margin: 0px 0px 0px 200px;

}

.button, #reset2 {
  border-color: #40a5f7;
  color: #40a5f7;
    background-color: #c6e5ff;
}

.button {
  margin: 20px 10px 0px 0px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #257ec6;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #a4bbf9;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover, h1 a:hover {
  color: #a47fc6;
}

/*After Form is Processed*/
#msgSection {
  width: 600px;
  line-height: 2em;
  color: #1d9fe0;
  font-size: 18px;
}
